body {
	margin: 0 auto;
	width: 1000px;
	padding: 0;
	background: #ffffff;
	font-family: Helvetica, sans-serif;
	font-size: 80%;
	color: #333;
}

h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
}

p {
	font-size: 1.4em;
	line-height: 1.4em;
}

ul {
	list-style-type: none;
}

#logo h3{
	float:top;
}

#menu {
	margin: 0 auto ;
	margin-top: 20px;
	width: 800px;
	font-size: 65%;
	color: rgb(255, 255, 255);
	background: #595B6A;
}