body {
	margin: 0 auto;
	width: 1000px;
	padding: 0;
	background: #ffffff repeat-x top;
	font-family: Helvetica, sans-serif;
	font-size: 80%;
	color: #333;
}

h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
}

p {
	font-size: 1.4em;
	line-height: 1.4em;
}

#menu {
	margin: 0 auto ;
	margin-top: 20px;
	width: 800px;
	font-size: 65%;
	color: rgb(44, 44, 44);
	background: #5f6777 repeat-x top;
}
